<!DOCTYPE html>
<html lang="en" ng-app="CineTicketApp">
<head>
<meta charset="utf-8">
<title>CineTicket</title>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="js/SigninController.js"></script>
<style>
h1 {
	font-size: 40px;
	font-family: Monotype Corsiva;
	text-align: center;
}
</style>
</head>
<div class="container">
	<h1>~~CineTicket~~</h1>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><a href="index.jsp">Home</a></li>
					<li><a href="signin.html">Sign In</a></li>
					<li><a href="signup.html">Join</a></li>
					<li><a href="theater.html">Theater</a></li>
					<li><a href="trailer.html">Trailers</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<div ng-controller="signinController">
				<h3>Sign In</h3>
				Username <input ng-model="userName" /> 
				<br><br>
				Password <input type="password" ng-model="password" />
				<br>
				<br>
				<a class="btn btn-success"
					ng-click="signin()"><i class="icon-search"></i>Sign In</a>
					<br>
					<br>
				<div>
					<td>{{messageText}}</td>
				</div>
				<div
    				ng-switch on="messageText">
					<div ng-switch-when="Successful">Hurray</div>
					<div ng-switch-when="Failed">Sad</div>
				</div>
			</div>
		</div>
	</div>
</div>
<body>



</body>
</html>
