<!DOCTYPE html>
<html lang="en" ng-app="CineTicketApp">
<head>
<meta charset="utf-8">
<title>CineTicket</title>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="js/SignupController.js"></script>
<style>
h1 {
	font-size: 40px;
	font-family: Monotype Corsiva;
	text-align: center;
}

</style>
</head>
<div class="container">
	<h1>~~CineTicket~~</h1>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><a href="index.jsp">Home</a></li>
					<li><a href="signin.html">Sign In</a></li>
					<li><a href="signup.html">Join</a></li>
					<li><a href="theater.html">Theater</a></li>
					<li><a href="trailer.html">Trailers</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6" >
			<div ng-controller="signupController">
				<h3>Sign Up</h3>
				<table>
				<tr><td>Username</td><td> <input ng-model="uname" /> </td></tr>
				<tr><td>Password </td><td><input type="password" ng-model="pwd" /></td></tr>
				<tr><td>Email Id</td><td> <input ng-model="email_id" /></td></tr>
				<tr><td>Zip Code</td><td> <input ng-model="zipcode" /></td></tr>
				<tr><td>Favorite Genre</td><td> <input ng-model="fav_genre" /></td></tr>
				</table>
				<br><br><br>
				<a class="btn btn-success"
					ng-click="signup()"><i class="icon-search"></i>Sign Up</a>
					<br>
					<br>
				<div>
					<td>{{messageText}}</td>
				</div>
			</div>
		</div>
	</div>
</div>
<body>



</body>
</html>
